body {
    background: linear-gradient(270deg, #0a3d91, #1e5bbf, #3778d9);
    background-size: 300% 300%;
    animation: gradientAnimation 5s ease infinite;
    overflow-x: hidden;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 5% 50%;
    }
}

.wave-container {
    position: fixed;
    width: 100%; 
    height: 50vh; 
    bottom: 0;       
    overflow: hidden; 
    z-index: -1;      
}

.wave-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 50vh;
    animation: wave-scroll 20s linear infinite;
    z-index: -1;
    opacity: 0.7;
}

@keyframes wave-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.bubbles-container {
    position: fixed;
    width: 100vw;
    height: 100vh;    
    overflow: hidden;  
    z-index: -1;      
}

.bubbles-image {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 12%;
    height: 12%;
    animation: move-up 15s linear infinite;
    z-index: -1;
    opacity: 0.3;
    object-fit: contain;
}

.one-bubble-image {
    position: absolute;
    left: 18%;
    bottom: 0;
    width: 12%;
    height: 12%;
    animation: move-up-fast 10s linear infinite;
    z-index: -1;
    opacity: 0.3;
    object-fit: contain;
}

.bubbles-image-2 {
    position: absolute;
    left: 44%;
    bottom: 0;
    width: 12%;
    height: 12%;
    animation: move-up 12s linear infinite;
    z-index: -1;
    opacity: 0.3;
    object-fit: contain;
}

.one-bubble-image-2 {
    position: absolute;
    left: 70%;
    bottom: 0;
    width: 12%;
    height: 12%;
    animation: move-up-fast 8s linear infinite;
    z-index: -1;
    opacity: 0.3;
    object-fit: contain;
}

.bubbles-image-3 {
    position: absolute;
    left: 86%;
    bottom: 0;
    width: 12%;
    height: 12%;
    animation: move-up 10s linear infinite;
    z-index: -1;
    opacity: 0.3;
    object-fit: contain;
}

@keyframes move-up {
    30% {
        bottom: 30%;
        transform: translateX(20%);
    }
    65% {
        bottom: 70%;
        transform: translateX(-20%);
    }
    100% {
        bottom: 100%;
        transform: translateX(20%);
    }
}

@keyframes move-up-fast {
    50% {
        bottom: 50%;
        transform: translateX(-20%);
    }
    100% {
        bottom: 100%;
        transform: translateX(20%);
    }
}

.shark-container {
    position: fixed;
    width: 100vw;
    height: 100vh;    
    overflow: hidden;  
    z-index: -1;      
}

.shark-image {
    position: absolute;
    top: 80%;
    right: -100%;
    width: 200%;  
    height: 10vh;
    animation: shark-scroll 100s linear infinite;
    z-index: -1;
    opacity: 0.3;
    object-fit: contain;
}

@keyframes shark-scroll {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%);
    }
}

.home-button {
    position: fixed; 
    top: 10px; 
    left: 10px; 
}

.home-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #004084; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.home-button a:hover {
    background-color: #01254c; 
}