@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(270deg, #0a3d91, #1e5bbf, #3778d9, #5b97f1);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 5% 50%;
    }
}


.wrapper {
    height: 100vh; 
    width: 100%;
    padding: 2% 2% 2% 2%;
}

.container {
    display: grid;
    grid-template-columns: 240px 1fr;
    width: 100%;
    text-align: center;
    height: 100%; 
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}


/* sidebar */
.sidebar {
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 20px;
    height: 100%; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

.sidebar-title {
    text-align: center;
}

.menu-item {
    display: block;
    width: 100%; 
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.1); 
    color: #fff; 
    border-radius: 5px;
    font-size: 16px;
    text-align: left; 
    border-color: rgba(255, 255, 255, 0.1);
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #333;
}

/* main content */
.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(150, 150, 150, 0.1); 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    position: relative;
    z-index: 2;
    overflow: hidden; 
    border-top-right-radius: 10px;   
    border-bottom-right-radius: 10px;
}

/* header grid */
.header-grid {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    margin-bottom: 20px; 
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); 
    padding-bottom: 20px; 
}

.main-title {
    font-size: 24px;
    color: white; 
    margin-right: auto;
    text-align: center;
}

/* adjust icon next to title */
.main-title i {
    font-size: 14px;
    margin-left: 5px;
}

.new-user-button {
    padding: 10px 20px;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0; 
}

.search-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.search-container {
    position: relative;
    width: 30%;
    margin-right: auto;
}

.search-container i {
    position: absolute;
    left: 12px; 
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
}

.search-bar {
    width: 100%; 
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
    font-size: 14px;
}

.contact-item-container {
    flex-grow: 1; 
    overflow-y: auto;
    margin-top: 3%;
    background: transparent;
    width: 100%;
}

.contact-item {
    background-color: rgba(255, 255, 255, 0.5); 
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); 
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
}

#contact-name {
    justify-content: start;
    flex: 1;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    margin-inline: 2.5px;
}

#contact-number {
    justify-content: center;    
    flex: 1;
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin-inline: 2.5px;
}

#contact-email {
    justify-content: end;
    flex: 1;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    margin-inline: 2.5px;
}

.contact-item .contact-mods {
    align-content: center;
    flex: 0.2;
    white-space: nowrap;
    margin-inline: 2.5px;
}

#editIcon {
    margin-right: 2.5px;
}

#deleteIcon {
    margin-left: 2.5px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

body.modal-open {
    overflow: hidden;
}
