@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.wrapper {
    width: fit-content;
    height: fit-content;
    overflow: visible;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0 .2);
    border-radius: 10px;
    padding: 30px 40px;
}

.head-text {
    font-size: 36px;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none; 
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    font-size: 30px; 
    position: absolute;
    transform: translate(-160%, 30%);
}

.password-requirements {
    display: none;
    position: absolute;
    top: 0; 
    left: -300px; 
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border-radius: 10px;
    padding: 10px;
    width: 280px;
    font-size: 12px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.password-requirements ul {
    list-style: none;  
    padding-left: 0;   
    margin: 0;         
}

input[type="password"]::-ms-reveal {
    display: none;
}

input[type="password"]::-ms-clear {
    display: none;
}

.submit-button button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.submit-button:hover {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.2);
    color: #333;
    opacity: 0.9; 
}

.page-link {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.page-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#registerResult, #passwordResult, #loginResult {
    text-align: center;
    color: #FFA500;
}

@media screen and (max-width: 767px) {
     
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    
}

@media only screen and (min-width: 1025px) {
    
}